
html
  head
    title Markdown Editor
    link(rel='stylesheet', href='ui.css')
    script(src='../textareaEditor.js')
    script(src='../../docview/libs/showdown.js')
    script(src='view.js')
  body
    #main
      textarea#text Has
      #view