body {
  margin: 0px;
}
#main {
  width: 100%;
  height: 100%;
}
#text,
#view {
  width: 50%;
  height: 100%;
  display: inline-block;
  overflow: scroll;
}
#text {
  background: #6b2e6b;
  color: #fff;
  border: 0px;
  padding: 10px 6px;
  font-size: 14px;
  resize: none;
}
#view {
  background: #fde4d8;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
div>p {
  line-height: 22px;
  margin: 10px 0px;
  padding: 0px 6px;
}
blockquote>p {
  margin: -10px 0px;
}
pre,
p>code {
  font-size: 14px;
  margin: 0px;
  background: #610524;
  color: #fff;
  box-sizing: border-box;
  padding: 0px 6px;
  overflow: auto;
}
blockquote {
  margin: 0px 0px 0px 20px;
  background: #d6c2d6;
}
ul,
ol {
  margin: 0px 0px 0px 20px;
  background: #fcf5cf;
}
h1,
h2,
h3,
h4 {
  margin: 10px;
}
a {
  text-decoration: none;
  background: #d1d1fa;
  padding: 0px 6px;
}
hr {
  border-top: 0px;
  border-color: #c2c2c2;
  width: 70%;
  margin: 20px;
}
