
html
  head
    title TextareaEditor Demo
    meta(charset='utf-8')
    :stylus
      body
        margin 0px
      textarea
        width 100%
        height 100%
        background hsl(330,100%,20%)
        color white
        padding 8px
        font-size 14px
        font-family monospace
        line-height 20px
    script(src='./sea-modules/seajs/1.3.0-dev/sea.js')
    script
      seajs.use('./test.js');

  body
    textarea#paper