

html
  head
    title indented S
    meta(charste='utf-8')
    :stylus
      body
        padding 0px
        margin 0px
      body > *
        width 50%
        height 100%
        display inline-block
        margin 0px
        outline 0px
        border 0px
        vertical-align top
        background hsl(20,90,94)
        line-height 20px
        font-size 16px
        resize none
        box-shadow 0px 0px 10px red
    script(src='../textarea.js')
    script(src='handle.js')
  body
    textarea#text
      | put you code here and
      |   format the words with brackets
      |     in pairs
      |       for it is indented
      |   as S-expressions
      | just like this
    textarea#res