
body {
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
  height: 100%;
  position: absolute;
  background: hsl(330,100%,20%);
  color: white;
  padding: 16px;
  font-size: 13px;
  font-family: Source Code Pro, Menlo, Consolas, monospace;
  line-height: 20px;
  outline: none;
}
